node_modules

.next

.env
.env.*

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/unplugged
.yarn/cache

tsconfig.tsbuildinfo
supabase/.temp
supabase/.branches
